table {
    width: 100%;
    text-align: left;
    background-color: gray;
}

th {
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
}

tbody {
    background-color: #232328;
    color: #fff;
}

td {
    padding: 20px;
}